/************************************************
/              MEDIA QUERY SIZES
/************************************************/
/************************************************
/                FONTS FAMILIES
/************************************************/
/************************************************
/                   COLORS
/************************************************/
/************************************************
/              HTML AND BODY STYLES
/************************************************/
html,
body {
  width: 100%;
  padding: 0;
  background-color: #647f7f;
  color: #f2f2f2;
}
@media only screen and (max-width: 480px) {
  html,
  body {
    margin: 6px 0 0 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  html,
  body {
    margin: 8px 0 0 0;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  html,
  body {
    margin: 12px 0 0 0;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  html,
  body {
    margin: 14px 0 0 0;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  html,
  body {
    margin: 18px 0 0 0;
  }
}
@media only screen and (min-width: 1921px) {
  html,
  body {
    margin: 24px 0 0 0;
  }
}
/************************************************
/               SCROLLBAR STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (min-width: 1921px) {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
}
::-webkit-scrollbar-track {
  background: #474747;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border: 1px solid #474747;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
/************************************************
/        PERSONAL WEBPAGE GENERAL STYLES
/************************************************/
.personal input:required,
.personal input:invalid {
  box-shadow: none;
}
.personal .left {
  text-align: left;
}
.personal .center {
  text-align: center;
}
.personal .right {
  text-align: right;
}
.personal .button {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 800;
  color: #474747;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
@media only screen and (max-width: 480px) {
  .personal .button {
    padding: 4px;
    font-size: 8px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .personal .button {
    padding: 6px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .personal .button {
    padding: 8px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .personal .button {
    padding: 8px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .personal .button {
    padding: 12px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1921px) {
  .personal .button {
    padding: 16px;
    font-size: 20px;
  }
}
.personal .button:hover {
  color: #f2f2f2;
  background: none;
  cursor: pointer;
}
.personal .button:focus {
  outline: none;
}
.personal hr {
  height: 2px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
.personal a {
  color: #f2f2f2;
  text-decoration: none;
}
.personal a:hover {
  color: #b4b4b4;
}
.personal th {
  font-weight: 800;
  text-align: left;
}
.personal td {
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .personal td {
    padding: 0 6px 0 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .personal td {
    padding: 0 8px 0 0;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .personal td {
    padding: 0 12px 0 0;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .personal td {
    padding: 0 16px 0 0;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .personal td {
    padding: 0 24px 0 0;
  }
}
@media only screen and (min-width: 1921px) {
  .personal td {
    padding: 0 28px 0 0;
  }
}
/************************************************
/                 HEADER STYLES
/************************************************/
.header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .header .name {
    font-size: 36px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .header .name {
    font-size: 42px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .header .name {
    font-size: 54px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .header .name {
    font-size: 64px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .header .name {
    font-size: 72px;
  }
}
@media only screen and (min-width: 1921px) {
  .header .name {
    font-size: 96px;
  }
}
@media only screen and (max-width: 480px) {
  .header .icons {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .header .icons {
    font-size: 22px;
    margin-bottom: 18px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .header .icons {
    font-size: 26px;
    margin-bottom: 18px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .header .icons {
    font-size: 28px;
    margin-bottom: 18px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .header .icons {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1921px) {
  .header .icons {
    font-size: 42px;
    margin-bottom: 28px;
  }
}
/************************************************
/            TERMINAL GENERAL STYLES
/************************************************/
.terminal {
  font-family: 'Share Tech Mono', monospace;
}
@media only screen and (max-width: 480px) {
  .terminal {
    width: 320px;
    margin: 12px auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .terminal {
    width: 420px;
    margin: 18px auto;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .terminal {
    width: 700px;
    margin: 24px auto;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .terminal {
    width: 1000px;
    margin: 36px auto;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .terminal {
    width: 1200px;
    margin: 40px auto;
  }
}
@media only screen and (min-width: 1921px) {
  .terminal {
    width: 1400px;
    margin: 48px auto;
  }
}
/************************************************
/              COMMAND LINK STYLES
/************************************************/
.links,
.links-table {
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .links,
  .links-table {
    font-size: 14px;
    width: 320px;
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .links,
  .links-table {
    font-size: 20px;
    width: 420px;
    margin-bottom: 14px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .links,
  .links-table {
    font-size: 24px;
    width: 700px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .links,
  .links-table {
    font-size: 28px;
    width: 1000px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .links,
  .links-table {
    font-size: 24px;
    width: 1200px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1921px) {
  .links,
  .links-table {
    font-size: 36px;
    width: 1400px;
    margin-bottom: 24px;
  }
}
.links .link:hover,
.links-table .link:hover {
  color: #b4b4b4;
  cursor: pointer;
}
/************************************************
/               TERMINAL BAR STYLES
/************************************************/
.bar {
  background-color: #d4d4d4;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  .bar {
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    font-size: 8px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .bar {
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .bar {
    height: 26px;
    line-height: 26px;
    padding: 0 14px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .bar {
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .bar {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1921px) {
  .bar {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    font-size: 24px;
  }
}
.bar .dots {
  width: 33%;
  float: left;
  text-align: left;
}
.bar .dots .dot:hover {
  cursor: pointer;
}
.bar .dots .red {
  color: #e33b3a;
}
.bar .dots .yellow {
  color: #f7f26e;
}
.bar .dots .green {
  color: #47b36c;
}
.bar .loc {
  width: 33%;
  float: left;
  text-align: center;
  color: #474747;
}
.bar .question {
  width: 34%;
  float: left;
  text-align: right;
  color: #474747;
}
.bar .question-icon:hover {
  color: #b4b4b4;
  cursor: pointer;
}
/************************************************
/               TERMINAL BOX STYLES
/************************************************/
.box {
  background-color: #474747;
}
@media only screen and (max-width: 480px) {
  .box {
    height: 360px;
    padding: 6px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .box {
    height: 420px;
    padding: 10px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .box {
    height: 520px;
    padding: 14px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .box {
    height: 540px;
    padding: 16px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .box {
    height: 610px;
    padding: 20px;
    font-size: 22px;
  }
}
@media only screen and (min-width: 1921px) {
  .box {
    height: 780px;
    padding: 24px;
    font-size: 26px;
  }
}
@media only screen and (max-width: 480px) {
  .box .spacer {
    height: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .box .spacer {
    height: 12px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .box .spacer {
    height: 16px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .box .spacer {
    height: 18px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .box .spacer {
    height: 22px;
  }
}
@media only screen and (min-width: 1921px) {
  .box .spacer {
    height: 24px;
  }
}
/************************************************
/               COMMAND LINE STYLES
/************************************************/
.cmd {
  overflow: auto;
  overflow-x: hidden;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  resize: none;
  outline: none;
}
.cmd:focus {
  border: none;
  outline: none;
}
/************************************************
/         CONTENT DISPLAY GENERAL STYLES
/************************************************/
.contents {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
@media only screen and (max-width: 480px) {
  .contents {
    height: 320px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .contents {
    height: 380px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .contents {
    height: 470px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .contents {
    height: 460px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .contents {
    height: 532px;
  }
}
@media only screen and (min-width: 1921px) {
  .contents {
    height: 680px;
  }
}
.contents p {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
@media only screen and (max-width: 480px) {
  .contents .paragraph {
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .contents .paragraph {
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .contents .paragraph {
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .contents .paragraph {
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .contents .paragraph {
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1921px) {
  .contents .paragraph {
    margin-bottom: 16px;
  }
}
.contents .display {
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  .contents .content-icon {
    font-size: 64px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .contents .content-icon {
    font-size: 74px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .contents .content-icon {
    font-size: 84px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .contents .content-icon {
    font-size: 96px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .contents .content-icon {
    font-size: 108px;
  }
}
@media only screen and (min-width: 1921px) {
  .contents .content-icon {
    font-size: 156px;
  }
}
/************************************************
/              HELP CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .help,
  .help-table {
    width: 26em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .help,
  .help-table {
    width: 28em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .help,
  .help-table {
    width: 34em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .help,
  .help-table {
    width: 38em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .help,
  .help-table {
    width: 38em;
  }
}
@media only screen and (min-width: 1921px) {
  .help,
  .help-table {
    width: 38em;
  }
}
/************************************************
/              ABOUT CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .about,
  .about-table {
    width: 28em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .about,
  .about-table {
    width: 30em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .about,
  .about-table {
    width: 36em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .about,
  .about-table {
    width: 38em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .about,
  .about-table {
    width: 40em;
  }
}
@media only screen and (min-width: 1921px) {
  .about,
  .about-table {
    width: 38em;
  }
}
.about-photo {
  width: auto;
}
@media only screen and (max-width: 480px) {
  .about-photo {
    height: 84px;
    margin-right: 2px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .about-photo {
    height: 120px;
    margin-right: 4px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .about-photo {
    height: 180px;
    margin-right: 8px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .about-photo {
    height: 240px;
    margin-right: 8px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .about-photo {
    height: 300px;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1921px) {
  .about-photo {
    height: 360px;
    margin-right: 24px;
  }
}
/************************************************
/             SKILLS CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .skills,
  .skills-table {
    width: 24em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .skills,
  .skills-table {
    width: 26em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .skills,
  .skills-table {
    width: 28em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .skills,
  .skills-table {
    width: 30em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .skills,
  .skills-table {
    width: 32em;
  }
}
@media only screen and (min-width: 1921px) {
  .skills,
  .skills-table {
    width: 30em;
  }
}
@media only screen and (max-width: 480px) {
  .skills-header {
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .skills-header {
    padding-bottom: 12px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .skills-header {
    padding-bottom: 14px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .skills-header {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .skills-header {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1921px) {
  .skills-header {
    padding-bottom: 24px;
  }
}
/************************************************
/            CONTACT CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .contact,
  .contact-table,
  .contact-form {
    width: 24em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .contact,
  .contact-table,
  .contact-form {
    width: 26em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .contact,
  .contact-table,
  .contact-form {
    width: 30em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .contact,
  .contact-table,
  .contact-form {
    width: 30em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .contact,
  .contact-table,
  .contact-form {
    width: 32em;
  }
}
@media only screen and (min-width: 1921px) {
  .contact,
  .contact-table,
  .contact-form {
    width: 32em;
  }
}
.contact-form th,
.contact-form td {
  vertical-align: bottom;
}
@media only screen and (max-width: 480px) {
  .contact-form th,
  .contact-form td {
    padding: 6px 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .contact-form th,
  .contact-form td {
    padding: 8px 0;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .contact-form th,
  .contact-form td {
    padding: 10px 0;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .contact-form th,
  .contact-form td {
    padding: 10px 0;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .contact-form th,
  .contact-form td {
    padding: 12px 0;
  }
}
@media only screen and (min-width: 1921px) {
  .contact-form th,
  .contact-form td {
    padding: 18px 0;
  }
}
.contact-input {
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  color: #f2f2f2;
  background: none;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #f2f2f2;
}
@media only screen and (max-width: 480px) {
  .contact-input {
    font-size: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .contact-input {
    font-size: 12px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .contact-input {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .contact-input {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .contact-input {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1921px) {
  .contact-input {
    font-size: 26px;
  }
}
.contact-input:focus {
  outline: none;
}
/************************************************
/              WORK CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .work,
  .work-table {
    width: 28em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .work,
  .work-table {
    width: 30em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .work,
  .work-table {
    width: 36em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .work,
  .work-table {
    width: 38em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .work,
  .work-table {
    width: 40em;
  }
}
@media only screen and (min-width: 1921px) {
  .work,
  .work-table {
    width: 38em;
  }
}
.work-company {
  font-weight: 700;
}
.work-date {
  text-align: right;
}
/************************************************
/            PROJECTS CONTENT STYLES
/************************************************/
.projects,
.project-table {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .projects,
  .project-table {
    width: 28em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .projects,
  .project-table {
    width: 30em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .projects,
  .project-table {
    width: 36em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .projects,
  .project-table {
    width: 38em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .projects,
  .project-table {
    width: 40em;
  }
}
@media only screen and (min-width: 1921px) {
  .projects,
  .project-table {
    width: 38em;
  }
}
@media only screen and (max-width: 480px) {
  .projects th,
  .project-table th,
  .projects td,
  .project-table td {
    padding-bottom: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .projects th,
  .project-table th,
  .projects td,
  .project-table td {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .projects th,
  .project-table th,
  .projects td,
  .project-table td {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .projects th,
  .project-table th,
  .projects td,
  .project-table td {
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .projects th,
  .project-table th,
  .projects td,
  .project-table td {
    padding-bottom: 28px;
  }
}
@media only screen and (min-width: 1921px) {
  .projects th,
  .project-table th,
  .projects td,
  .project-table td {
    padding-bottom: 32px;
  }
}
.projects .project-name,
.project-table .project-name {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .projects .project-name,
  .project-table .project-name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .projects .project-name,
  .project-table .project-name {
    font-size: 18px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .projects .project-name,
  .project-table .project-name {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .projects .project-name,
  .project-table .project-name {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .projects .project-name,
  .project-table .project-name {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1921px) {
  .projects .project-name,
  .project-table .project-name {
    font-size: 36px;
  }
}
.projects .project-img,
.project-table .project-img {
  margin: 0 auto;
  border: 2px solid #f2f2f2;
  height: auto;
}
@media only screen and (max-width: 480px) {
  .projects .project-img,
  .project-table .project-img {
    width: 200px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .projects .project-img,
  .project-table .project-img {
    width: 240px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .projects .project-img,
  .project-table .project-img {
    width: 280px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .projects .project-img,
  .project-table .project-img {
    width: 320px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .projects .project-img,
  .project-table .project-img {
    width: 360px;
  }
}
@media only screen and (min-width: 1921px) {
  .projects .project-img,
  .project-table .project-img {
    width: 400px;
  }
}
.projects .project-img:hover,
.project-table .project-img:hover {
  opacity: 0.7;
}
.projects .project-tools,
.project-table .project-tools {
  display: table;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.projects .project-tools li,
.project-table .project-tools li {
  float: left;
  color: #474747;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
@media only screen and (max-width: 480px) {
  .projects .project-tools li,
  .project-table .project-tools li {
    margin: 0 4px;
    padding: 2px 6px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .projects .project-tools li,
  .project-table .project-tools li {
    margin: 0 4px;
    padding: 2px 8px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .projects .project-tools li,
  .project-table .project-tools li {
    margin: 0 10px;
    padding: 2px 8px;
    border-radius: 12px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .projects .project-tools li,
  .project-table .project-tools li {
    margin: 0 12px;
    padding: 4px 10px;
    border-radius: 16px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .projects .project-tools li,
  .project-table .project-tools li {
    margin: 0 16px;
    padding: 6px 12px;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 1921px) {
  .projects .project-tools li,
  .project-table .project-tools li {
    margin: 0 18px;
    padding: 10px 20px;
    border-radius: 28px;
  }
}
.projects .project-tools li:hover,
.project-table .project-tools li:hover {
  color: #f2f2f2;
  background-color: #474747;
}
/************************************************
/             LOCKED CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .locked {
    width: 24em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .locked {
    width: 26em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .locked {
    width: 28em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .locked {
    width: 28em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .locked {
    width: 30em;
  }
}
@media only screen and (min-width: 1921px) {
  .locked {
    width: 30em;
  }
}
/************************************************
/              ERROR CONTENT STYLES
/************************************************/
@media only screen and (max-width: 480px) {
  .error {
    width: 24em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .error {
    width: 28em;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .error {
    width: 30em;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .error {
    width: 30em;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .error {
    width: 32em;
  }
}
@media only screen and (min-width: 1921px) {
  .error {
    width: 32em;
  }
}
/************************************************
/                  MODAL STYLES
/************************************************/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #474747;
  background-color: rgba(71, 71, 71, 0.5);
}
.modal hr {
  background-color: #474747;
  width: 80%;
}
.modal a {
  color: #474747;
}
.modal a:hover {
  color: #b4b4b4;
}
.modal-content {
  position: relative;
  margin: 0 auto;
  top: 10%;
  font-family: 'Share Tech Mono', monospace;
  color: #474747;
  border: 2px solid #474747;
  background-color: #f2f2f2;
  overflow: auto;
}
@media only screen and (max-width: 480px) {
  .modal-content {
    width: 240px;
    height: 240px;
    padding: 16px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .modal-content {
    width: 320px;
    height: 320px;
    padding: 20px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .modal-content {
    width: 400px;
    height: 400px;
    padding: 24px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .modal-content {
    width: 480px;
    height: 480px;
    padding: 24px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .modal-content {
    width: 600px;
    height: 600px;
    padding: 32px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1921px) {
  .modal-content {
    width: 720px;
    height: 720px;
    padding: 36px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .modal-title {
    font-size: 14px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .modal-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .modal-title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .modal-title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .modal-title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1921px) {
  .modal-title {
    font-size: 32px;
  }
}
.modal-img-norm {
  height: auto;
}
@media only screen and (max-width: 480px) {
  .modal-img-norm {
    width: 140px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .modal-img-norm {
    width: 160px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .modal-img-norm {
    width: 160px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .modal-img-norm {
    width: 180px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .modal-img-norm {
    width: 200px;
  }
}
@media only screen and (min-width: 1921px) {
  .modal-img-norm {
    width: 240px;
  }
}
.modal-img-long {
  height: auto;
}
@media only screen and (max-width: 480px) {
  .modal-img-long {
    width: 200px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .modal-img-long {
    width: 240px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .modal-img-long {
    width: 240px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .modal-img-long {
    width: 280px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .modal-img-long {
    width: 320px;
  }
}
@media only screen and (min-width: 1921px) {
  .modal-img-long {
    width: 360px;
  }
}
.close {
  color: #474747;
  float: right;
}
@media only screen and (max-width: 480px) {
  .close {
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 740px) {
  .close {
    font-size: 18px;
  }
}
@media only screen and (min-width: 741px) and (max-width: 1140px) {
  .close {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1141px) and (max-width: 1540px) {
  .close {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1541px) and (max-width: 1920px) {
  .close {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1921px) {
  .close {
    font-size: 34px;
  }
}
.close:hover {
  color: #b4b4b4;
  cursor: pointer;
}
